body{
    /*background-color:#8b4f4f;*/
    background-image: url("https://store-images.s-microsoft.com/image/apps.5980.13510798887669283.9f4cd29a-ecef-4566-87f3-692bc32ff679.306d08ab-fe63-4b65-811e-86c9cb091f28?mode=scale&q=90&h=1080&w=1920")
}

h1{
    text-align: center;
    color:grey;
    font-family: trattatello, fantasy;
    
}
 img{
     height: 20em;
     width: 20em;
 }

 .middle {
    height: 20em;
    width: 20em;
}

.right {
    height: 20em;
    width: 20em;

}



 
     
     
 